.search-wrap {
    text-align: right;
  }
  .handle-box {
    margin-bottom: 20px;
  }
  
  .handle-select {
    width: 120px;
  }
  
  .handle-input {
    width: 300px;
    display: inline-block;
  }
  .del-dialog-cnt {
    font-size: 16px;
    text-align: center;
  }
  .table {
    width: 100%;
    font-size: 14px;
  }
  .red {
    color: #ff0000;
  }
  .mr10 {
    margin-right: 10px;
  }
  .del-dialog-cnt {
    text-align: left;
  }
  .btn-item {
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .toast-tilte {
    font-size: 14px;
    line-height: 40px;
    text-align: left;
    text-indent: 12px;
    span {
      color: #f56c6c;
    }
  }